<div class="project-card__wrapper">
    <div class="project-card__header">
        <h3 class="project-card__name">{{name}}</h3>
        <div class="project-card__tags-wrapper"></div>
    </div>
    <img src="{{thumbnail_src}}" alt="project thumbnail" class="project-card__thumbnail">
    <p class="project-card__description">
        {{description}}
    </p>
</div>
<div class="project-card__footer">
    <button data-url="{{url}}" data-interactable-type="ext" class="project-card__link-to-project" {{disabled}}>
        Visit Project
        <img src="assets/images/vector/arrow-ext.svg" alt="arrow" fetchpriority="low">
    </button>
    <p class="date">{{date}}</p>
</div>  
